@font-face { 
    font-family: mono; src: url("mono.ttf");
} 

html, body {

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: green;
    font-family: "Mono";
}

#main-container {

    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 512px;
    margin: 0 auto;

    flex-direction: column;
}

/*
TOP STUFF
*/
#top-container {

    position: relative;
    display: block;
    flex: 1;
}

#menu-button {

    position: absolute;
    display: none;
    width: 64px;
    height: 64px;
    top: 20px;
    right: 0;
    font-size: 46px;
    background-image: url(media/images/hamburger.png);
    cursor: pointer;
    opacity: 0.8;
}

/*
MID STUFF
*/
#mid-container {

    position: relative;
    display: block;
    flex: 2;
}

canvas {

    position: relative;
    display: block;
    width: 100%;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

/*
BOTTOM STUFF
*/
#bottom-container {

    position: relative;
    display: block;
    flex: 1;
}

#keyboard {

    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    overflow: hidden;
}

#keyboard-container {

    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 128px;
    background-image: url(media/images/keyboard_bckgrd.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s ease;
}

#keys-container {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.keyboard-key {

    position: relative;
    display: block;
    border: 2px solid #717c81;
    border-radius: 5px;
    padding: 0 10px;
    color: white;
    cursor: pointer;
    font-size: 38px;
    font-weight: 100;
    background: rgba(168,187,198,1);
    background: -moz-linear-gradient(top, rgba(168,187,198,1) 0%, rgba(88,118,132,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(168,187,198,1)), color-stop(100%, rgba(88,118,132,1)));
    background: -webkit-linear-gradient(top, rgba(168,187,198,1) 0%, rgba(88,118,132,1) 100%);
    background: -o-linear-gradient(top, rgba(168,187,198,1) 0%, rgba(88,118,132,1) 100%);
    background: -ms-linear-gradient(top, rgba(168,187,198,1) 0%, rgba(88,118,132,1) 100%);
    background: linear-gradient(to bottom, rgba(168,187,198,1) 0%, rgba(88,118,132,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8bbc6', endColorstr='#587684', GradientType=0 );
}

#perm-key-container {

    position: relative;
    display: block;
    max-width: 64px;
    flex: 1;
}


/*
ANIMATIONS
*/
.fade-in {
    opacity: 1 !important;
}

.slide-in {
    transform: translate3d(0, 0, 0) !important;
}