@font-face { 
    font-family: mono; src: url("media/font/mono.ttf");
} 

html, body {

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: green;
    font-family: "mono";
    -webkit-font-smoothing: none;
}

body {

    display: flex;
    align-items: center;

    -webkit-transition: -webkit-background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}


#main-container {

    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 800px;
    max-width: 512px;
    margin: 0 auto;
    flex-direction: column;
}

/*
TOP STUFF
*/
#top-container {

    position: relative;
    display: block;
    flex: 1;
}

#menu-button {

    position: absolute;
    display: none;
    width: 64px;
    height: 64px;
    top: 20px;
    right: 0;
    font-size: 46px;
    background-image: url(media/images/hamburger.png);
    cursor: pointer;
}

/*
MID STUFF
*/
#mid-container {
    
    position: relative;
    flex: 2;
    z-index: 200;
}

canvas {

    position: relative;
    display: block;
    width: 100%;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    color: white;
}

#virtual-canvas {

    position: absolute;
    display: none;
    width: 100%;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    top: 0;
}

/*
BOTTOM STUFF
*/
#bottom-container {

    position: relative;
    display: block;
    flex: 1;
}

#name-input {
    position: absolute;
    display: none;
    top: 0;
    font-family: "Mono";
    font-size: 40px;
    line-height: 30px;
    padding: 0;
    max-width: 128px;
    text-align: center;
    z-index: 9999;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 2px;
    background-color: white;
}

#name-input::focus {
    outline: black;
}

#keyboard {

    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

#keyboard-container {

    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 128px;
    background-image: url(media/images/keyboard_bckgrd.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    -ms-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);

    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

#keys-container {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.keyboard-key {
    
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}

label {
    position: relative;
    display: inline-flex;
    border: 2px solid #717c81;
    border-radius: 5px;
    padding: 0 10px;
    color: white;
    font-size: 38px;
    font-weight: 100;
    pointer-events: none;
    background: rgba(168,187,198,1);
    background: -moz-linear-gradient(top, rgba(168,187,198,1) 0%, rgba(88,118,132,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(168,187,198,1)), color-stop(100%, rgba(88,118,132,1)));
    background: -webkit-linear-gradient(top, rgba(168,187,198,1) 0%, rgba(88,118,132,1) 100%);
    background: -o-linear-gradient(top, rgba(168,187,198,1) 0%, rgba(88,118,132,1) 100%);
    background: -ms-linear-gradient(top, rgba(168,187,198,1) 0%, rgba(88,118,132,1) 100%);
    background: linear-gradient(to bottom, rgba(168,187,198,1) 0%, rgba(88,118,132,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8bbc6', endColorstr='#587684', GradientType=0 );
}

#perm-key-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spacer {
    position: relative;
    display: block;
    max-width: 128px;
    flex: 1;
}
.disabled {

    opacity: 0.2;
    pointer-events: none;
}
/*
SIDE MENU STUFF
*/
#side-menu {

    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 1000;
}
#side-menu-container {

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: green;
    pointer-events: initial;

    -ms-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);

    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}
#side-menu-container h2 {

    position: relative;
    display: block;
    margin: 0;
    font-size: 55px;
    text-align: center;
    border-bottom: 4px solid black;
}

#side-menu-container ul {
    list-style-type: square;
    margin: 0;
    padding: 15px;
}
#side-menu-container ul li {

    position: relative;
    display: block;
    font-size: 45px;
    color: black;
    cursor: pointer;
}
.side-menu-item {

    flex: 1;
}
.side-menu-item:hover {

    color: white !important;
}
#side-menu-container .flexed {

    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#side-menu-container .flexed .side-menu-item {

    font-size: 40px;
}

/*
AUDIO STUFF
*/
#audio-player {

    position: absolute;
    display: none;
    top: 0;
}
/*
LANDING PAGE STUFF
*/
#landing-page {

    position: absolute;
    display: block;
    width: 100%;
    max-height: 800px;
    height: 100%;
    top: 0;
    background: green;
}
#landing-page .container {

    position: relative;
    display: block;
    width: 100%;
    max-width: 512px;
    height: 100%;
    margin: 0 auto;
}
#landing-page h1 {
    position: relative;
    display: block;
    font-size: 45px;
    line-height: 30px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 4px solid black;
}
#landing-page p {

    position: absolute;
    display: none;
    top: 50%;
    margin: 0;
    line-height: 20px;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
#landing-page span {
    position: relative;
    display: block;
    font-size: 67px;
    line-height: 28px;
    color: red;
    font-weight: bold;
    text-align: center;
}

#lang-container {

    position: relative;
    display: flex;
    height: 60px;
    justify-content: flex-end;
}

.button-lang {
    position: relative;
    display: block;
    width: 32px;
    height: 24px;
    margin-left: 20px;
    margin-top: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9000;
}
#button-pt {
    background-image: url("media/images/pt_icon.png");
}
#button-eng {
    background-image: url("media/images/eng_icon.png");
}


/*
OTHER STUFF
*/
#debugger {

    position: fixed;
    display: none;
    top: 0;
    left: 0;   
    font-size: "18px";
    color: white;
}

/*
ANIMATIONS
*/
.fade-in {
    opacity: 1 !important;
}

.slide-in {
    -ms-transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    -o-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

/*
MOBILE STUFF
*/
@media screen and (max-width: 480px) {

    label {
        font-size: 32px;
    }

    #lang-container {
        padding-right: 7px;
    }

    #side-menu-container .flexed .side-menu-item {

        font-size: 30px;
    }
}

